<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MediTrek{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/img/pill-icon.png') }}">
    <!-- Vercel Analytics -->
    <script defer src="/_vercel/insights/script.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html> 